.user-table {
  vertical-align: middle;
  text-align: center;
}

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ddd;
  }
  td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #ddd;
  }
}

#table-attendances th {
  vertical-align: middle;
  text-align: center;
  border: 1px solid #ddd;
  border-left: 1px solid #ddd; /* 日付列の左側の罫線を追加 */
}




#table-attendances td:nth-child(8) {
  width: 15px;
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

#table-users td {
  vertical-align: middle;
}

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}
/* 土曜日のテキストの色を青にする */
:root {
  --saturday-color: blue;
}

/* 日曜日のテキストの色を赤にする */
:root {
  --sunday-color: red;
}

/* HTML内の土曜日のテキストに適用 */
span[data-day="Saturday"] {
  color: var(--saturday-color);
}

/* HTML内の日曜日のテキストに適用 */
span[data-day="Sunday"] {
  color: var(--sunday-color);
}
